{{#if template}}
<template>
    <div class="{{name}}-page"></div>
</template>
{{/if}}

{{#if script}}
<script>
    export default {
        name: '{{ properCase name }}',
        props: {},
        data() {
            return {}
        },
        created() { },
        mounted() { },
        methods: {}
    }
</script>
{{#if script}}

{{#if style}}
<style lang="scss" scoped>

</style>
{{#if style}}